.index-wrapper
  display: -webkit-box
  display: -webkit-flex
  display: flex
  width: 100%
  height: 100vh

  -webkit-box-pack: center
  -webkit-justify-content: center
  justify-content: center

  -webkit-box-align: center
  -webkit-align-items: center
  align-items: center

  header
    z-index: 10

#particles-oli-wrapper
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  width: 100%
  // z-index: -1

.head
.main
.foot
  margin: 0 auto
  width: 800px

.head
.foot
  padding: 0 50px
  height: 120px
  background-color: #399c9c
  line-height: (@height)
  box-sizing: border-box

.head-title
  font-size-rem(30)
  font-weight: normal
  color: #FFFFFF

  > a
    color: #FFFFFF

.head-nav__item
  display: inline-block
  margin-left: 20px

.head-nav__link
  color: #fff

  &:hover
    color: #f0f0f0
    text-decoration: underline

.main
  margin-top: 30px
  margin-bottom: 30px

.archive-title
  margin: 1.6em
  text-align: center
  // 1.6 * 16
  font-size-rem(25.6)
  font-weight: normal

.comments
  margin: 30px 0
  padding: 50px
  background-color: #FFFFFF
  border: 1px solid $border-color

.foot
  margin-bottom: 30px

.foot-copy
  text-align: center
  color: #fff
  font-size-rem(12)

.page-menu__item
  display: inline-block

.page-menu__link
  color: #FFFFFF
  font-size-rem(30)

.page-menu__link--disabled
  color: #f0f0f0

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f5;
} 

/* 定义滚动条轨道的内阴影+圆角 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, .3);
  background-color: #f5f5f5;
}

/* 定义滑块的内阴影+圆角 */
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, .3);
  background-color: $color-green;
}

.right p
  text-align: right

.reward,
.comments,
.post
  transition: all .3s
  // box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12)

  &:hover
    box-shadow: 0 1px 5px rgba(50, 50, 50, 0.2)
    border-color: transparent
